/* .navbar-nav > li{
  padding-left: 10px;
  padding-right: 10px;
} */

body {
  padding-bottom: 5%;
}

/* https://stackoverflow.com/a/22196760/2320823 */
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.preview-box {
  min-height: 160px;
  min-width: 160px;
}

table {
  margin: auto;
  width: 90%;
  max-width: 800px;
  display: block;
}

th {
  text-align: center;
}

#pagebox {
  display: inline;
}

.detected {
  color: #461969;
}

.notdetected {
  color: #29af7f;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

.btn-outline-success,
.btn-outline-success:active,
.btn-outline-success:visited,
.btn-outline-success:focus {
  border-color: #29af7f;
  color: #29af7f;
}
.btn-outline-success:hover {
  background-color: #29af7f;
  color: white;
}


.btn-outline-danger,
.btn-outline-danger:active,
.btn-outline-danger:visited,
.btn-outline-danger:focus {
  border-color: #461969;
  color: #461969;
}
.btn-outline-danger:hover {
  background-color: #461969;
  color: white;
}

.img-preview-detected {
  box-shadow: inset 0 0 8px 1px #461969;
}

.img-preview-notdetected {
  box-shadow: inset 0 0 8px 1px #29af7f;
}


td.details-control {
  background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
  cursor: pointer;
}

tr.shown td.details-control {
  background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
}

/*
change to font awesome icon
https://stackoverflow.com/questions/14736496/use-font-awesome-icons-in-css
*/

.status-text {
  font-size: 90%;
}

.detail-row-detected {
  color: white !important;
  background-color: #461969 !important;
}
