{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark rounded-bottom" style="margin:0px; margin-bottom:20px;">
  <a class="navbar-brand" href="#">Jet Fighting!</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto nav-fill w-100">
      <li class="navbar-text nav-item">
          <a class="nav-link" href="/">All Manuscripts</a>
        </li>
        <li class="navbar-text nav-item">
          <a class="nav-link" href="?categories=1,2">Manuscripts with rainbow detection
            <i class="far fa-eye-slash detected"></i>
          </a>
        </li>
        <li class="navbar-text nav-item">
          <a class="nav-link" href="?categories=-1,-2">Manuscripts without detection
              <i class="far fa-check-circle notdetected"></i>
          </a>
        </li>

        {% if session['logged_in'] %}
        <li class="navbar-text nav-item">
          <a class="nav-link" href="/rerun">Rerun missing</a>
        </li>
        {% endif %}

        <!-- <a class="nav-link" href="?categories=0,1">Only run</a> -->
        <li class="navbar-text nav-item">
          <input id="filterbox" class="form-control mr-sm-2" type="search" placeholder="Filter rows"
                 data-toggle="tooltip" data-placement="top" data-html="true" title="Filters currently loaded table (i.e. does <i>not</i> query database)">
        </li>
        <li class="navbar-text nav-item">
            <label data-toggle="tooltip" data-placement="top" title="Rows per page">
              <select id="pagebox" name="jfTable_length" aria-controls="jfTable" class="form-control">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </label>
        </li>
    </ul>
  </div>

</nav>

<div class="row justify-content-center">
<div class="col" style="max-width: 1200px">


<table id="jfTable" class="table display stripe">
  <thead>
    <tr class="text-center">
      <th>View Results</th>
      <th>Title</th>
      <th>Paper Link</th>
      <th>Parse Status</th>
      {% if session['logged_in'] %}
        <th>Actions</th>
      {% else %}
        <th>Authors notified?</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for p in papers %}
    <tr id="{{ p.id }}">
      <td class="details-control align-middle"></td>

        <td class="align-middle">{{ p.title }}</td>

        <td class="text-center align-middle">
          <a href="{{ p.url }}" target="_blank">
            <i class="fas fa-file-alt" alt="Link to paper"></i>
          </a>
        </td>

        <td class="text-center align-middle">
          {% if p.parse_status > 0 %}
          <i class="far fa-eye-slash detected"></i>
          {% elif p.parse_status < 0 %}
          <i class="far fa-check-circle notdetected"></i>
          {% endif %}
        </td>

        <td class="text-center align-middle" style="color:black">
          {% if session['logged_in'] %}
            {% if p.parse_status > 0 %}
              {% if p.email_sent %}
                Email sent<br/>
                <div class="btn-group">
                    <button class="btn btn-dark btn-sm btn-fix">
                      Incorrect
                    </button>
                </div>
              {% else %}
                <div class="btn-group">
                  <button class="btn btn-light btn-sm btn-email">
                    Send email
                  </button>
                  <button class="btn btn-dark btn-sm btn-fix">
                    Incorrect
                  </button>
                </div>
              {% endif %}
            {% elif p.parse_status < 0 %}
                <div class="btn-group">
                  <button class="btn btn-dark btn-sm btn-fix">
                    Incorrect
                  </button>
                </div>
            {% endif %}
          {% else %}
            {% if p.parse_status > 0 %}
              {% if p.email_sent %}
              Yes
              {% else %}
                Not yet
              {% endif %}
            {% endif %}
          {% endif %}
        </td>
      </tr>
  {% endfor %}
  </tbody>
</table>

</div>
</div>

<!-- templates -->
<div style="display: none;">


<div id="infotemplate">
  <div class="row paperpreview justify-content-center">
  </div>
  <br/>
  <a href="/detail/XXX" class="detail_link btn btn-secondary btn-sm btn-block" role="button" target="_blank">
    Detailed results &nbsp; <i class="fas fa-info-circle"></i>
  </a>
</div>


<div id="pgpreviewtempl" class="col-sm-2">
  <a href="xxx" target="_blank">
    <div class="rounded px-1 py-1">
      <i class="placeholder fa fa-circle-notch fa-spin" style="margin: 5px"></i>
      <img src="" class="img-fluid img-thumbnail mx-auto"
           data-toggle="tooltip" data-placement="top" title="Navigate to pdf of page(new window)"/>
      </div>
  </a>
</div>


{% if session['logged_in'] %}
<div id="emailtemplate">
<form action="/email" method="POST" role="form" class="form-horizontal">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="form-group">
    <label for="fromInput1">From</label>
    <input type="email" name="from" class="form-control" id="fromInput1" value="{{ app.config['MAIL_DEFAULT_SENDER'] }}" required>
  </div>
  <div class="form-group">
      <label for="ccInput1">CC</label>
      <input type="email" name="cc" class="form-control" id="ccInput1" placeholder="Enter any emails to be cc'ed">
  </div>
  <div class="form-group">
      <label for="messageTextarea">Example textarea</label>
      <textarea class="form-control" name="message" id="messageTextarea" rows="5" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
</div>
{% endif %}

</div>
<!-- end templates -->


{% endblock %}


{% block custom_js %}
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<script src="{{ url_for('static', filename='table.js') }}"></script>
<script src="{{ url_for('static', filename='preview.js') }}"></script>
<script src="{{ url_for('static', filename='utils.js') }}"></script>

<script>
function send_action(button, action) {
  // Disable button to avoid multiple clicks
  button.attr('disabled','disabled');

  id = button.closest('tr').attr('id');
  var status = $("<div>", {"class": "fa fa-circle-notch fa-spin"});
      button.closest('td').append(status);

  function replacePlaceholder(data) {
    status.removeClass("fa fa-circle-notch fa-spin");
    status.addClass("status-text");
    status.html(data['message']);
  }

  $.ajax({
      type: "POST",
      url :  "/" + action + "/" + id,
      dataType: 'json',
    }).done(replacePlaceholder);
}

function toggle_status() {
  send_action($(this), 'toggle');
}

function send_email() {
  send_action($(this), 'notify');
}

$(document).ready(function(){
  $('#jfTable').on('page.dt search.dt length.dt', function () {
    $(".btn-email").off("click").on("click", send_email);
    $(".btn-fix").off("click").on("click", toggle_status);
  });
});
</script>

{% endblock %}
