{% extends "base.html" %}

{% block custom_head %}

<link rel="stylesheet"
  href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"
  crossorigin="anonymous">

{% endblock %}


{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark rounded-bottom" style="margin:0px; margin-bottom:20px;">
  <a class="navbar-brand" href="#">Jet Fighting!</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto nav-fill w-100">
      <li class="navbar-text nav-item">
          <a class="nav-link" href="/">All Manuscripts</a>
        </li>
        <li class="navbar-text nav-item">
          <a class="nav-link" href="?categories=1">Manuscripts with rainbow detection
            <i class="far fa-eye-slash" style="color: #440154"></i>
          </a>
        </li>
        <li class="navbar-text nav-item">
          <a class="nav-link" href="?categories=0">Manuscripts without detection
              <i class="far fa-check-circle" style="color: #1F968B"></i>
          </a>
        </li>
        <!-- <a class="nav-link" href="?categories=0,1">Only run</a> -->
        <li class="navbar-text nav-item">
          <input id="filterbox" class="form-control mr-sm-2" type="search" placeholder="Filter rows"
                 data-toggle="tooltip" data-placement="top" data-html="true" title="Filters currently loaded table (i.e. does <i>not</i> query database)">
        </li>
        <li class="navbar-text nav-item">
            <label data-toggle="tooltip" data-placement="top" title="Rows per page">
              <select id="pagebox" name="jfTable_length" aria-controls="jfTable" class="form-control">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </label>
        </li>
    </ul>
  </div>

</nav>

<div class="row justify-content-center">
<div class="col" style="max-width: 1200px">


<table id="jfTable" class="table display">
  <thead>
    <tr class="text-center">
      <th>View Results</th>
      <th>Title</th>
      <th>Paper Link</th>
      <th>Parse Status</th>
      <th>Authors notified?</th>
    </tr>
  </thead>
  <tbody>
  {% for p in papers %}
      {% if p.parse_status == 1 %}
      <tr class="detected" id="{{ p.id }}">
        <td class="details-control"></td>
      {% elif p.parse_status == 0 %}
      <tr class="notdetected" id="{{ p.id }}">
        <td class="details-control"></td>
      {% else %}
      <tr class="notyetrun" id="{{ p.id }}">
        <td></td>
      {% endif %}

        <td>{{ p.title }}</td>

        <td class="text-center">
          <a href="{{ p.url }}" target="_blank">
            <i class="fas fa-file-alt" alt="Link to paper"></i>
          </a>
        </td>

        <td class="text-center">
          {% if p.parse_status == 1 %}
          <i class="far fa-eye-slash"></i>
          {% elif p.parse_status == 0 %}
          <i class="far fa-check-circle"></i>
          {% endif %}
        </td>

        <td class="text-center" style="color:black">
          {% if p.parse_status == 1 %}
            {% if p.email_sent %}
            Yes
            {% else %}
            Not yet
            {% endif %}
          {% endif %}
        </td>
      </tr>
  {% endfor %}
  </tbody>
</table>

</div>
</div>

<!-- templates -->
<div style="display: none;">


<div id="infotemplate">
  <div class="row paperpreview">

  </div>
</div>


<div id="pgpreviewtempl" class="col-sm-2">
  <a href="xxx" target="_blank">
      <div>
        <img src="" class="img-fluid img-thumbnail img-preview-detected mx-auto"
             data-toggle="tooltip" data-placement="top" title="Navigate to pdf of page(new window)"/>
      </div>
  </a>
</div>


{% if session['logged_in'] %}
<div id="emailtemplate">
<form action="/email" method="POST" role="form" class="form-horizontal">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="form-group">
    <label for="fromInput1">From</label>
    <input type="email" name="from" class="form-control" id="fromInput1" value="{{ app.config['MAIL_DEFAULT_SENDER'] }}" required>
  </div>
  <div class="form-group">
      <label for="ccInput1">CC</label>
      <input type="email" name="cc" class="form-control" id="ccInput1" placeholder="Enter any emails to be cc'ed">
  </div>
  <div class="form-group">
      <label for="messageTextarea">Example textarea</label>
      <textarea class="form-control" name="message" id="messageTextarea" rows="5" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
</div>
{% endif %}

</div>
<!-- end templates -->


{% endblock %}



{% block custom_js %}
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<script>

// Initiate conversion of images.
// Separate call for which pages and retrieving images
function retrieve_previews(id) {
  info = $('#infotemplate').clone()[0];
  info.removeAttribute('id');
  p_preview = $(info).find(".paperpreview")[0];

  // Retrieve image numbers along with per-page parse statuses
  // add placeholders on the page until finally retrieved
  function insertPage(id, pg, i) {
      i.src = '';
      i.className += " fa fa-circle-o-notch fa-spin";
      function replacePagePlaceholder(data) {
        i.src = data;
        i.classList.remove('fa');
        i.classList.remove('fa-circle-o-notch');
        i.classList.remove('fa-spin');
      }
      $.ajax({
        url : "/preview/" + id + "/" + pg,
        dataType: 'json',
      }).done(replacePagePlaceholder);
  }

  function insertPages(pgs) {
    Object.keys(pgs).map(function(pg, index) {
      status = pgs[pg];
      pvt = $('#pgpreviewtempl').clone()[0];
      pvt.removeAttribute('id');

      // add link to page in pdf
      a_link = $(pvt).find("a");
      a_link.attr("href",
        'http://biorxiv.org/cgi/content/short/' + id + '.pdf#page=' + pg
      );

      // call to retrieve page and insert it
      p_preview.appendChild(pvt);
      i = $(pvt).find("img")[0];

      if (status == "true") {
        i.classList.add("img-preview-detected");
      } else {
        i.classList.add("img-preview-notdetected");
      }
      insertPage(id, pg, i);
    });
  }

  // get page numbers to show and initiate callback
  $.ajax({
    url : "/pages/" + id,
    dataType: 'json'
  }).done(insertPages);

  return info;
}

$(document).ready(function() {
  var table = $('#jfTable').DataTable( {
    columns: [
        { name: 'expand'},
        { name: 'title', "width": "65%" },
        { name: 'link' },
        { name: 'status' },
        { name: 'authors' },
    ],
    'columnDefs' : [
      { 'orderable': false, 'targets': [0] }
      ],
      "pageLength": 50,
      dom: 'lrtp',
      "lengthChange": false,
      "fnInitComplete" : function( oSettings, json ){
        $('#pagebox').val(oSettings['_iDisplayLength']);
      }
  });


  // Add event listener for opening and closing details
  $('table').on('click', 'td.details-control', function () {
    var tr = $(this).closest('tr');
    var row = table.row( tr );
    if ( row.child.isShown() ) {
      row.child.hide();
      tr.removeClass('shown');
    }
    else {
      if (!row.child()) {
        prev = retrieve_previews( row.data().DT_RowId );
        row.child(prev);
      }
      row.child.show();
      tr.addClass('shown');
    }
  });

  $("#filterbox").keyup(function() {
    table.search(this.value).draw();
  });

  $('#pagebox').on("change", function () {
    table.page.len(this.value).draw();
  });

});


// unused
// remove rows without results
function removeNotYetRun() {
  $('.notyetrun').remove();
  this.disabled=true;
}
// remove rows with negative results
function removeNotDetected() {
  $('.notdetected').remove();
  this.disabled=true;
}

// For hover-over tooltip
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});

</script>

{% endblock %}
